extend layout.jade
block content
    section#top
        include partdetail/navbarDropdown.jade
        include partdetail/carouselControl.jade      
    section#home  
        include layout/threeColumTextIcon.jade
    section#class
        include partdetail/timeline.jade
    section#monster
        include layout/twoColumnLeftFuildImg.jade
    section#Taiwan
        include layout/twoRowTextIcon.jade   
    section.py-3#weather
        include partdetail/weather.jade
    section#google
        include partdetail/googleAboutMe.jade
        
    
