
<div class="container-fluid py-5">
  <h2 class="text-center pt-4">雲家族</h2>
  <div class="row mx-auto pb-4">
    <div class="col-md-4 mt-3 w-100">
      <div class="div"></div><i class="fas fa-user-secret fa-4x mb-3 d-flex justify-content-center"></i>
      <h4>雲與霧真實身分</h4>
      <p>通常人們對霧和雲的區別不太清楚，以最通俗的比喻，雲是出現在天空，而霧是發生在近地面，所以霧也可以說是地面上的雲了。不過它的成因和雲不一樣。</p>
    </div>
    <div class="col-md-4 mt-3 w-100"><i class="fas fa-tint fa-4x mb-3 d-flex justify-content-center"></i>
      <h4>氣象六個姊姊二個哥哥</h4>
      <p>「氣象」它是指當天天氣(短時間內大氣變化的現象)中一些「雲」、「雨」、「霧」、「露」、「風」、「雷」、「陰」、「晴」等現象。            </p>
    </div>
    <div class="col-md-4 mt-3"><i class="fas fa-users fa-4x mb-3 d-flex justify-content-center"></i>
      <h4>擁有預知夢的雲先生</h4>
      <p>人們掌握了一些比較可靠的預測未來12個小時天氣變化的經驗。比如：絨毛狀的積雲如果分布非常分散，可表示為好天氣，但是如果雲塊擴大或有新的發展，則意味著會突降暴雨。            </p>
    </div>
  </div>
</div>