
<div class="container">
  <h2 class="text-center py-4 wow swing">氣象小編來踢館啦</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex">              
        <div class="div mr-3">
          <div class="i fas fa-sun fa-4x align-middle"></div>
        </div>
        <div class="div">
          <h4>理念</h4>
          <p>把氣象用「口語化、生活化、平實的報導」呈現，帶給大家最即時的氣象資訊。我是 #天氣小編 ，這是非官方的民間氣象通報平台，期盼能給大家最棒的氣象報導體驗。</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <div class="div mr-3 i fas fa-bolt fa-4x"></div>
        <div class="media-body">
          <h4 class="mt-0">使命</h4>
          <p>致力推行，氣象口語化、簡單化、大眾化、平民化、資訊圖表化。讓氣象，成為生活中容易接受並且不可或缺，是我們不變的宗旨。</p>
        </div>
      </div>
    </div>
  </div>
</div>