script(src="js/vendors.js")
script(src="https://www.googletagmanager.com/gtag/js?id=UA-89388320-2")
script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js")
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAHSxbDdgXmR15rA9etHwVw_-bMtmLplog&callback=initMap')
script(src="js/all.js")


footer.bg-light.py-4.mt-3 
    .container.d-flex.flex-column.text-center
        p.small 獨坐敬亭山. 李白. 眾鳥高飛盡， 孤雲獨去閒。 相看兩不厭， 只有敬亭山       
        .footerGroup
            a(href="#")
                i.fab.fa-facebook.mx-1
            a(href="#")
                i.fab.fa-instagram.mx-1
            a(href="#")
                i.fab.fa-twitter.mx-1
    .btn-block.text-center.fb-messengermessageus.my-2.text-center(messenger_app_id='1653516004671630', page_id='116997069120265', color='blue', size='large')                         
    p.small.text-center ©Copright 2018 測試版型Troye 



