.container-fliuid.bg-light.text-white.monsterbg.py-3
    .row
        .col-md-5.bg-ToptoBottom
    .container
        .row.justify-content-end.text-md-dark.wow.slideInUp
            .col-md-7.mx-2.p-4
                .textbg
                    h2 妖怪雲擠上50大?
                    p 這些雲看起來就像是浮世繪裡的妖怪雲或者西遊記裡的黑雲，如果說它們是CG藝術創作，大概也沒有很多人會覺得意外——然而，上面三張照片全都是真實的。雖然鮮少有人看到，更少得到可靠的紀錄，但是經歷多年質疑和查證之後，世界氣象組織終於認可：這不但是真實的雲，而且還是一種此前未曾被命名過的全新雲種。50年來，國際雲圖第一次有了新成員。
                    .row.wow.slideInUp
                        .col-md-6
                            h4 一生必看的雲
                            p 雖然很難知道最初創作出這種形象的人是如何想到它的，但是今天的觀雲愛好者和氣象愛好者都知道，這樣的雲是真實存在的。                        
                        .col-md-6
                            h4 特徵
                            p 而幾乎得到所有人公認的妖雲之首，就是所謂的「糙面雲」。這種雲有兩個核心特徵：雲底具顆粒狀團塊、極端粗糙； 波狀結構極度扭曲成巨大、不規則的褶皺。
