.container
    h2.text-center.py-4.wow.swing 氣象小編來踢館啦
    .row
        .col-md-6
            .d-flex               
                .div.mr-3
                    .i.fas.fa-sun.fa-4x.align-middle
                .div
                    h4 理念
                    p 把氣象用「口語化、生活化、平實的報導」呈現，帶給大家最即時的氣象資訊。我是 #天氣小編 ，這是非官方的民間氣象通報平台，期盼能給大家最棒的氣象報導體驗。
                    //- flex寫法   
        .col-md-6
            .media
                .div.mr-3.i.fas.fa-bolt.fa-4x
                .media-body
                    h4.mt-0 使命
                    p 致力推行，氣象口語化、簡單化、大眾化、平民化、資訊圖表化。讓氣象，成為生活中容易接受並且不可或缺，是我們不變的宗旨。
                    //-  media object寫法               
