.box {
  height: 100px;
  box-shadow: 0 10px 6px -6px #777;
}
.timeline-section {
  position: relative;
}
.timeline-section:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 5px;
  transform: translateX(-50%);
  background-color: #ccc;
}
// 中間的線
.timeline-pointer {
  position: relative;
}
.timeline-pointer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #ccc;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
}
//中的的點
@media (max-width: 576px) { 
  .timeline-section:after, 
  .timeline-pointer::after {
    display: none;
  }
}