nav.navbar.navbar-expand-lg.fixed-top
  a.navbar-brand.text-white(href='#') CloudLIFE
    i.fas.fa-cloud.ml-2.text-white
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.mx-4
        a.nav-link.scrollTop(href='#home') 雲家族
      li.nav-item.mx-4
        a.nav-link.scrollTop(href='#class') 雲千階梯 
      li.nav-item.mx-4
        a.nav-link.scrollTop(href='#monster') 妖怪雲          
      li.nav-item.mx-4
        a.nav-link.scrollTop(href='#Taiwan') 氣象王國        
      li.nav-item.mx-4
        a.nav-link.scrollTop(href='#google') 聯絡白雲
  
