.container
    .row
        .col-md-5
            .daybox
                .d_top
                    .d_data.py-3.px-3
                        .h3.location.mb-3 Taichung
                        .wet.mb-3 90.4
                        .cloud.mb-3
                            .rain1
                            .rain2
                            .rain3
                        .h2.mb-3.temperature.font-weight-bold 12℃ 
                        .status 太陽雨
                    .d_img
                        .circle.rounded-circle
                        .imgcity
                    .circle.halfcircle1.rounded-circle
                    .circle.halfcircle2.rounded-circle
                    .circle.halfcircle3.rounded-circle                    
                .d_bottom
                    table.table.table-hover.table-dark(style="  background-color: #192e56c2")
                        thead
                            tr
                                th(scope='col') 順序
                                th(scope='col') 天氣狀況
                                th(scope='col') 溫度
                                th(scope='col') 濕度
                        tbody
                            tr
                                th(scope='row') 1
                                td
                                    i.fas.fa-tint.text-primary.fa-2x.ml-2
                                td 2℃ 
                                td 90.4%
                            tr
                                th(scope='row') 2
                                td
                                    i.fas.fa-sun.text-warning.fa-2x.ml-2
                                td 12℃ 
                                td 8%
                            tr
                                th(scope='row') 3
                                td 
                                    i.fas.fa-tint.text-primary.fa-2x.ml-2
                                td 8℃ 
                                td 7%
        .col-md-7
            .row
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/taipei.jpg')")
                        h3.text-white 台北                                    
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/taichung.jpg')")
                        h3.text-white 新北
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/Miaoli.jpg')")
                        h3.text-white.text-center 桃園
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/taipei.jpg')")
                        h3.text-white 苗栗                                    
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/taichung.jpg')")
                        h3.text-white 台中
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/Miaoli.jpg')")
                        h3.text-white.text-center 南投
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/taipei.jpg')")
                        h3.text-white 嘉義                        
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/taichung.jpg')")
                        h3.text-white 台南
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/Miaoli.jpg')")
                        h3.text-white.text-center 高雄
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/taipei.jpg')")
                        h3.text-white 宜蘭                                    
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/taichung.jpg')")
                        h3.text-white 花蓮
                .col-6.col-md-4.px-0.pl-4
                    .rounded-circle.bgcircle.mb-3(style="background-image: url('img/Miaoli.jpg')")
                        h3.text-white.text-center 台東



